# Indirect
tornado==6.1
ConfigArgParse==1.2.3
py12flogging==0.5.0

# Direct

# CDCAGG common
git+https://${BBCREDS}@bitbucket.org/cessda/cessda.cdc.aggregator.shared-library@0.1.0#egg=cdcagg_common
# Kuha Common
git+https://bitbucket.org/tietoarkisto/kuha_common@de60495dbf188bd5fd6bb391cc80e9491b409589#egg=kuha_common
# Kuha Client
git+https://bitbucket.org/tietoarkisto/kuha_client@cee2f1fccf74cd19fe64bffcf93e1562044ca84a#egg=kuha_client
