# Indirect
tornado==6.4.2
ConfigArgParse==1.7
py12flogging==0.7.0

# Direct

# CDCAGG common
# TODO Use version when released
git+https://github.com/cessda/cessda.cdc.aggregator.shared-library@48-support-more-ddi-c-elements#egg=cdcagg_common
# Kuha Common
git+https://gitlab.tuni.fi/fsd/kuha_common@2.6.0#egg=kuha_common
# Kuha Client
git+https://gitlab.tuni.fi/fsd/kuha_client@1.6.0#egg=kuha_client
